{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">

                {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}

            <div class="flex justify-content-end mt-2">
                {{ include('post/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
